openapi: 3.0.3
info:
  title: TypeSafe Jev API
  version: "1.0"
  description: |
    Gateway-importable contract for the public TypeSafe Jev evaluation API.
    The API evaluates a state against caller-defined typed questions and returns
    one typed answer for each question.
  contact:
    url: https://docs.typesafe.ai/api
externalDocs:
  description: Official TypeSafe API reference
  url: https://docs.typesafe.ai/api
servers:
  - url: https://api.typesafe.ai
    description: TypeSafe production API
tags:
  - name: Evaluation
    description: Evaluate state against typed questions with Jev.
paths:
  /v1/systemone:
    post:
      tags:
        - Evaluation
      operationId: evaluateState
      summary: Evaluate a state with Jev
      description: |
        Evaluates a string, object, or array against a map of Noul, Choice, or
        Score questions. Answer keys correspond to the submitted question keys.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvaluationRequest"
            examples:
              urgency:
                summary: Evaluate urgency
                value:
                  state: Help! My payouts have been failing for 3 days.
                  model: jev-latest
                  questions:
                    is_urgent:
                      type: noul
                      instructions: Does this convey urgency?
                      criteria:
                        "true": Explicitly time-sensitive
                        "false": No urgency expressed
      responses:
        "200":
          description: Evaluation completed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluationResponse"
              examples:
                urgency:
                  value:
                    model: jev-1.13.0
                    answers:
                      is_urgent:
                        type: noul
                        noul: 0.95
                    usage:
                      input_tokens: 296
                      output_tokens: 20
        "401":
          description: The API key is missing or invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: The request body failed validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: The caller exceeded a rate limit and should retry with backoff.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "529":
          description: TypeSafe is temporarily overloaded and the caller should retry with backoff.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "TypeSafe API key supplied as `Authorization: Bearer <API_KEY>`."
  schemas:
    EvaluationRequest:
      type: object
      required:
        - state
        - model
        - questions
      properties:
        state:
          $ref: "#/components/schemas/StructuredValue"
        model:
          type: string
          minLength: 1
          example: jev-latest
          description: Jev model name or alias.
        questions:
          type: object
          minProperties: 1
          additionalProperties:
            $ref: "#/components/schemas/Question"
          description: Caller-named questions; response answers use the same keys.
    Question:
      oneOf:
        - $ref: "#/components/schemas/NoulQuestion"
        - $ref: "#/components/schemas/ChoiceQuestion"
        - $ref: "#/components/schemas/ScoreQuestion"
      discriminator:
        propertyName: type
        mapping:
          noul: "#/components/schemas/NoulQuestion"
          choice: "#/components/schemas/ChoiceQuestion"
          score: "#/components/schemas/ScoreQuestion"
    NoulQuestion:
      type: object
      required:
        - type
        - instructions
      properties:
        type:
          type: string
          enum:
            - noul
        instructions:
          $ref: "#/components/schemas/StructuredValue"
        criteria:
          type: object
          properties:
            "true":
              $ref: "#/components/schemas/StructuredValue"
            "false":
              $ref: "#/components/schemas/StructuredValue"
          additionalProperties: false
          description: Optional descriptions of what yes and no mean.
    ChoiceQuestion:
      type: object
      required:
        - type
        - instructions
        - criteria
      properties:
        type:
          type: string
          enum:
            - choice
        instructions:
          $ref: "#/components/schemas/StructuredValue"
        criteria:
          type: object
          minProperties: 1
          maxProperties: 255
          additionalProperties:
            $ref: "#/components/schemas/NullableStructuredValue"
          description: Option names mapped to optional rubric descriptions.
    ScoreQuestion:
      type: object
      required:
        - type
        - instructions
        - criteria
      properties:
        type:
          type: string
          enum:
            - score
        instructions:
          $ref: "#/components/schemas/StructuredValue"
        criteria:
          type: array
          minItems: 2
          maxItems: 10
          items:
            $ref: "#/components/schemas/StructuredValue"
          description: Ordered descriptions of the scoring levels.
    StructuredValue:
      description: A string or structured JSON object/array.
      oneOf:
        - type: string
        - type: object
          additionalProperties: true
        - type: array
          items: {}
    NullableStructuredValue:
      description: A string, structured JSON object/array, or null.
      oneOf:
        - type: string
          nullable: true
        - type: object
          additionalProperties: true
        - type: array
          items: {}
    EvaluationResponse:
      type: object
      required:
        - model
        - answers
        - usage
      properties:
        model:
          type: string
          description: Model version that performed the evaluation.
          example: jev-1.13.0
        answers:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Answer"
          description: Answers keyed by the submitted question IDs.
        usage:
          $ref: "#/components/schemas/Usage"
    Answer:
      oneOf:
        - $ref: "#/components/schemas/NoulAnswer"
        - $ref: "#/components/schemas/ChoiceAnswer"
        - $ref: "#/components/schemas/ScoreAnswer"
      discriminator:
        propertyName: type
        mapping:
          noul: "#/components/schemas/NoulAnswer"
          choice: "#/components/schemas/ChoiceAnswer"
          score: "#/components/schemas/ScoreAnswer"
    NoulAnswer:
      type: object
      required:
        - type
        - noul
      properties:
        type:
          type: string
          enum:
            - noul
        noul:
          type: number
          minimum: 0
          maximum: 1
          description: Probability that the answer is yes.
    ChoiceAnswer:
      type: object
      required:
        - type
        - choice
        - probabilities
        - confidence
      properties:
        type:
          type: string
          enum:
            - choice
        choice:
          type: string
          description: Highest-probability option.
        probabilities:
          $ref: "#/components/schemas/ProbabilityMap"
        confidence:
          type: number
          minimum: 0
          maximum: 1
    ScoreAnswer:
      type: object
      required:
        - type
        - score
        - legend
        - probabilities
        - confidence
      properties:
        type:
          type: string
          enum:
            - score
        score:
          type: number
          description: Probability-weighted value across the submitted levels.
        legend:
          type: object
          additionalProperties:
            type: string
          description: Numeric level keys mapped to their submitted descriptions.
        probabilities:
          $ref: "#/components/schemas/ProbabilityMap"
        confidence:
          type: number
          minimum: 0
          maximum: 1
    ProbabilityMap:
      type: object
      additionalProperties:
        type: number
        minimum: 0
        maximum: 1
      description: Option or level keys mapped to probabilities that sum to 1.
    Usage:
      type: object
      required:
        - input_tokens
        - output_tokens
      properties:
        input_tokens:
          type: integer
          minimum: 0
        output_tokens:
          type: integer
          minimum: 0
    ErrorResponse:
      type: object
      additionalProperties: true
      description: JSON error details returned by the TypeSafe API.
